<!DOCTYPE html>
<html>
  <head>
    <body>
      <h2>Checkout</h2>
        <form action="/checkout" target="_blank" method="POST">
          <label for="item1">Enter an item to purchase:</label><br>
          <input type="text" id="item1" name="item1"><br>
        </form>
    </body>
  </head>
</html>
